li {
  list-style: none;
}

body {
  margin : 0px 20px;
}

#top {
  overflow: auto;
}

#rotate-text {
  transform : rotate(-30deg);
  position : absolute;
  top : 20px;
}

#top p {
  font-size: 2em;
  color: #2E4A56;
}

#add-todo {
  background-color: #1BA3EB;
  width : 200px;
  height : 40px;
  font-size: 1em;
  color : white;
  float : right;
  margin : 40px 0px;
}

#todo-lists {
  overflow: auto;
  width : 90%;
  float: right;
}

.list-tag {
  width : 33%;
  margin-top : 0px;
  float : left;
}

#list-center {
  margin : 0px 0.5%;
}

.list-tag > div {
  background-color: #2E4A56;
  height : 60px;
  line-height: 60px;
  font-size: 1.3em;
  padding-left: 15px;
  color : white;
  float: left;
  width : 100%;
  box-sizing: border-box;
}
