body {
  background-color: #8bd0b3;
}

header {
  height : 70px;
  margin: 5px 5px 0px 5px;
  background-color: white;
  overflow: auto;
}

nav > ul > li {
  width : 120px;
  height : 25px;
  color:blue;
  background-color: #9cd2d2;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  float : right;
  margin-right : 10px;
  position : relative;
  padding-top : 9px;
  cursor: pointer;
}

section {
  height : 800px;
  margin: 5px 5px 0px 5px;
  background-color: white;
  text-align: center;
}

section > h1 {
  margin: 0px;
  padding-top: 20px;
}

#description {
  font-size: 12px;
  padding-top : 20px;
}

section > ul {
  text-align: center;
}

section > ul > li {
  width : 100px;
  height : 100px;
  background-color: #9cd2d2;
  color : white;
  margin : 20px 5px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 2px 2px 2px 2px gray;
  display: inline-block;
  line-height: 100px;
}
